 /* Header
      ============================= */
  
      .header {
        padding: var(--header-padding);
             position: relative;
             z-index: 3;
             background:transparent;
      }
      
      .header-logo {
        position: var(--header-logo-position);
      }
      
      .header-logo a {
        display: var(--header-logo-link-display);
        position: var(--header-logo-link-position);
        top: var(--header-logo-link-top);
        left: var(--header-logo-link-left);
      }