 /* Header
      ============================= */
  
      .header {
        padding: var(--header-padding);
             position: relative;
             z-index: 3;
             background:transparent;
      }
      
      .header-logo {
        position: var(--header-logo-position);
        display: flex;
        justify-content:first baseline;
        flex-direction: row;
        margin-left: auto;
      }
      
      .header-text {
        display: flex;
        justify-content: center;
        margin: center;
        flex-wrap: wrap;
      }