 /* Header
      ============================= */
  
      .header {
        padding: var(--header-padding);
             position: relative;
             z-index: 3;
             background:transparent;
      }
      
      .header-logo {
        position: var(--header-logo-position);
        display: flex;
        justify-content:left;
        align-items: center;
        flex-direction: row;
        width: 161px;
        height: 32px;
        flex-shrink: 0;
        box-sizing: border-box;
        color: #FFFFFF;
        color: #FF6565;
      }
      
      .header-text {
        display:flex;
        justify-content: center;
        margin: center;
        flex-direction: center;

      }