/* Header
      ============================= */
  
      .header {
        padding: var(--header-padding);
             position: relative;
             z-index: 3;
             background:transparent;
      }
      
      .header-logo {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 161px;
        height: 32px;
        flex-shrink: 0;
        box-sizing: border-box;
        color: #FFFFFF;
        color: #FF6565;
        row-gap: 200.06px;
        column-gap: 27.76px;
        margin-left: 5%;
        margin-top: 3%;
      }
      
      .header-text-1 {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #FFF;
        font-family: Source Sans Pro;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFFFFF;
        position: absolute;
      }

      .header-text-2 {
        color: #FFF;
        align-items: center;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
      }

      .header-text-3 {
        color:#FFF;
        color: #FFFFFF;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
      }

      .background-image {
        width: 1400px;
        height: 800px;
        flex-shrink: 0;
        border: 1px solid #979797;
        background: #D8D8D8;
        color: #979797;
        color: #D8D8D8;
        display: flex;
        
      }
      .text {
        display: block;
        color: #FFF;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        color: #FFFFFF;
        width: 637px;
        align-items: center;
        justify-items: center;
        margin-left: 25%;       
        margin-bottom: 104px;
      }
      .link{
        display: flex;
        color: #FFF;
        font-family: Source Sans Pro;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 5%;
        margin-top: 3%;
      
      }
/* section-1
      ============================= */
      .section-what-we-do{
        display: absolute;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
      }

      .text-1 {
        color: #071629;
        width: 637px;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        display: block;
        margin-left: 30%;
  }

      .sound-frecuency {
        justify-content: center;
        align-items:center;
        width: 94.2px;
        height: 65.357px;
        flex-shrink: 0;
        fill: #FF6565;
        flex-direction: column;
        display: inline-block;
       
        
  }

      .video {

        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 67.588px;
        height: 76.8px;
        flex-shrink: 0;
        fill: #FF6565;
        display: inline-block;
      
  }

      .music{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 51.66px;
        height: 57.266px;
        flex-shrink: 0;
        display: inline-block;
       
        
  }
      .hearing {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 61.431px;
        height: 61.44px;
        flex-shrink: 0;
        fill: #FF6565;
        display: inline-block;
    


}
      .title {
        color: #071629;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        width: 207px;
        flex-direction: column;
        justify-content: center;
        justify-items: right;
        justify-content: space-between;
        align-items: center;
        display: block;
       
  }
      .section-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: block;
        margin-left: 20%;
        
  }